body{
 text-align: center;
}

.btn{
height: 150px;
width: 150px;
border: 10px solid black;
border-radius: 20%;
margin: 1rem;
}

.btn-container{
 display: flex;
 justify-content: center;
 padding: 10px;
}
.yellow{
 background-color: yellow;
}
.green{
 background-color: green;
}
.red{
 background-color: rgb(204, 21, 21);
}
.purple{
 background-color: purple;
}

.flash{
 background-color: white;
}